html body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

/*SECTION HEADER*/
.headerContainer {
    background-image: url(https://www.autobild.es/sites/autobild.es/public/styles/main_element/public/dc/fotos/BMW-i8_Roadster-2019_C01.jpg?itok=K7rldvgR);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.headerImage {
    position: absolute;
    width: 100%;
}

.menuBarList{
    display: inline-flexbox;
    flex-direction: row;
    text-align: center;
}

.menuBarList a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.headerFooter *{
    color: white;
}

.headerButton {
    background-color: blue;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

/*COMMON SECTION*/
.section {
    margin: 10px;
}

.section-title {
    font-weight: bold;
    color: grey;
}

/*SECTION - SERIES*/

.section-series-seriesList{
    display: flexbox;
    text-align: center;
    flex-direction: row;
    text-align: center;
}

.seriesList-item {
    color: grey;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-weight: bold;
}
.seriesList-item:hover {
    color:black;
    border-radius: 5px;
    border-bottom-color: blue;
    border-bottom-style: solid;
    background-color: grey;
    
}

.car-model-list {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

.car-card {
    display: inline-block;
    text-align: left;
    max-width: 320px;
}

.car-model {
    width: calc(100% - 13px);
    max-width: 300px;
    min-width: 150px;
    display: inline-flexbox;
    margin: 5px;
    text-align: center;
}

.text-card-model {
    text-align: left;
}

.start-price {
    color: grey;
    font-weight: bold;
}

/*SECTION - NEWS*/
.firstRow-news {
    width: 100%;
    min-width: 490px;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
}

.vertical-news {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
    width: 33%;
    min-width: 150px;
    max-width: 350px;
    border-style: solid;
    border-width: 1px;
}

.vertical-news-img {
    max-width: 350px;
}

.news-text {
    display: flex;
    flex-direction: column;

}

.secondRow-news {
    width: 100%;
    min-width: 490px;
    display: inline-flexbox;
    flex-direction: row;
    text-align: center;
}

.horizontal-news {
    display: inline-block;
    flex-direction: column;
    text-align: left;
    margin: 10px;
    width: calc(50% - 25px);
    min-width: 220px;
    max-width: 534px;
    border-style: solid;
    border-width: 1px;
}

.horizontal-news-img {
    width: 100%;
    max-width: 550px;
}
